footer
	.footer-inner.align-center.wrapper
		h6 МЫ ВСЕГДА РАДЫ СОТРУДНИЧЕСТВУ
		//- .widget
		//- 	ul.socialmedia-widget
		//- 		li.facebook
		//- 			a(href='#')
		//- 		li.twitter
		//- 			a(href='#')
		//- 		li.dribbble
		//- 			a(href='#')
		//- 		li.behance
		//- 			a(href='#')
		//- 		li.instagram
		//- 			a(href='#')
		//- 		li.vk
		//- 			a(href='#')
		a#backtotop(href='#') Наверх
.footer-pseudo(style="height:349px;")