doctype html
html
	head
		title My Portfolio
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(charset = "utf-8")
		link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&amp;subset=cyrillic")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&amp;subset=cyrillic")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&amp;subset=cyrillic")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic" )
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,700")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700,900")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
		link(rel="stylesheet", href="css/bundle.min.css")
		script( src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js")
		script( src="js/bundle.js")
	body
		header.header
			.header_inner
				.header_logo
					a(href="/dist") Scr1pt
				nav.header_navigation
					a.header_navigation_button(href="#")
						span.sandwich
						span.text Меню
					ul.header_navigation_list
						li
							a(href="/dist") Главная
						li
							a(href="/dist") Портфолио
							ul.submenu
								li
									a(href='/dist/good-goal.html')
										| Good Goal 
								li
									a(href='/dist/craft-shop.html')
										| Craft Shop 
								li
									a(href='/dist/yondo!.html')
										| Yondo! 
								li
									a(href='/dist/pechi.html')
										| Losa GmbH 
						li
							a(href="/dist/brief.html") Бриф
						li
							a(href="/dist/contacts.html") Контакты