* {
  margin: 0;
  padding: 0;
  outline: none; }

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 26px;
  color: #4d4d4d;
  text-align: left;
  position: relative;
  background: #ffffff;
  min-height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira+Sans';
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #0d0d0d; }

h1 {
  font-size: 84px;
  line-height: 96px; }

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; }

.middle {
  display: block; }

#contact-form {
  margin-bottom: 100px; }

.progressBar_container {
  left: 0;
  width: 100%;
  height: 0.4em;
  margin-bottom: 0px;
  position: fixed;
  bottom: 0px;
  overflow: hidden;
  background-color: white;
  content: "";
  display: table;
  table-layout: fixed;
  z-index: 1000000; }
  .progressBar_container .progressBar {
    width: 0%;
    float: left;
    height: 100%;
    max-width: 100%;
    background-color: #ea4452;
    -webkit-transition: width .6s ease;
    transition: width .6s ease; }

.myslider-wrapper {
  position: relative;
  height: 600px;
  max-height: 90vh;
  margin-bottom: 150px; }

.myslider_item {
  height: 600px;
  max-height: 90vh;
  position: relative;
  background-position: center center;
  background-size: cover; }
  .myslider_item.text-light h5,
  .myslider_item.text-light h1 {
    color: #fff; }

.myslider_caption {
  position: absolute;
  top: 50%;
  left: 40px;
  text-align: center;
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
  z-index: 1; }
  .myslider_caption.is_active {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  z-index: 10; }
  .header::after {
    content: "";
    background: #ffffff;
    position: fixed;
    top: -150px;
    left: 0;
    width: 100%;
    height: 150px;
    -webkit-transition: top 0.3s ease;
    transition: top 0.3s ease;
    z-index: 9; }
  .header-dark .header_logo a {
    color: #0d0d0d; }
  .header-dark .header_navigation .sandwich {
    background-color: #0d0d0d; }
    .header-dark .header_navigation .sandwich::after, .header-dark .header_navigation .sandwich::before {
      background-color: #0d0d0d; }
  .header-dark .header_navigation .text {
    color: #0d0d0d; }
  .header.nav_is_open::after {
    top: 0; }
  .header_inner {
    padding: 0px 40px;
    height: 0;
    margin-top: 60px;
    margin-bottom: 60px; }
  .header_logo {
    float: left;
    max-width: 100%;
    height: 30px;
    position: relative;
    z-index: 10; }
    .header_logo a {
      font-size: 36px;
      font-family: Fira Sans;
      font-weight: 700;
      letter-spacing: .08em;
      text-transform: uppercase;
      color: #0d0d0d;
      -webkit-transition: color .3s;
      transition: color .3s; }
    .header_logo-light a {
      color: #fff; }
  .header_navigation {
    float: right;
    position: relative;
    z-index: 10; }
    .header_navigation_button {
      display: block;
      height: 30px;
      float: right;
      position: relative;
      z-index: 10;
      margin-left: 20px; }
      .header_navigation_button .sandwich {
        display: inline-block;
        width: 22px;
        height: 2px;
        background-color: #0d0d0d;
        position: relative;
        top: -3px;
        -webkit-transition: background 0.4s ease;
        transition: background 0.4s ease; }
        .header_navigation_button .sandwich::before, .header_navigation_button .sandwich::after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: #0d0d0d;
          right: 0;
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-backface-visibility: hidden;
                  backface-visibility: hidden;
          -webkit-transition: background 0.4s ease, right .2s ease, -webkit-transform 0.4s;
          transition: background 0.4s ease, right .2s ease, -webkit-transform 0.4s;
          transition: transform 0.4s, background 0.4s ease, right .2s ease;
          transition: transform 0.4s, background 0.4s ease, right .2s ease, -webkit-transform 0.4s; }
        .header_navigation_button .sandwich::before {
          right: 2px;
          -webkit-transform: translateY(-6px) rotate(0deg);
              -ms-transform: translateY(-6px) rotate(0deg);
                  transform: translateY(-6px) rotate(0deg); }
        .header_navigation_button .sandwich::after {
          right: 5px;
          -webkit-transform: translateY(6px) rotate(0deg);
              -ms-transform: translateY(6px) rotate(0deg);
                  transform: translateY(6px) rotate(0deg); }
      .header_navigation_button:hover .sandwich::before,
      .header_navigation_button:hover .sandwich::after {
        right: 0; }
      .header_navigation_button .text {
        line-height: 30px;
        width: 65px;
        text-align: right;
        display: inline-block;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;
        color: #0d0d0d;
        letter-spacing: 0.12em;
        -webkit-transition: width 0.4s ease, opacity 0.2s ease 0.3s, color 0.4s;
        transition: width 0.4s ease, opacity 0.2s ease 0.3s, color 0.4s; }
    .header_navigation-light .sandwich {
      background-color: #fff; }
      .header_navigation-light .sandwich::after, .header_navigation-light .sandwich::before {
        background-color: #fff; }
    .header_navigation-light .text {
      color: #fff; }
    .header_navigation_list {
      float: left;
      visibility: hidden;
      list-style: none;
      text-align: center;
      margin: 0 auto;
      position: relative;
      z-index: 10; }
      .header_navigation_list > li {
        margin: 0 0 0 20px;
        padding: 0;
        display: inline-block;
        position: relative;
        -webkit-transition: top 0.3s ease 0.4s, opacity 0.3s ease;
        transition: top 0.3s ease 0.4s, opacity 0.3s ease;
        top: -5px;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
        .header_navigation_list > li:hover, .header_navigation_list > li.active {
          color: #ea4452 !important; }
        .header_navigation_list > li > a {
          line-height: 30px;
          display: inline-block;
          font-family: 'Open Sans';
          font-weight: 700;
          font-size: 14px;
          line-height: 30px;
          text-transform: uppercase;
          color: #0d0d0d;
          letter-spacing: 0.12em;
          -webkit-transition: all 100ms ease;
          transition: all 100ms ease; }
          .header_navigation_list > li > a:hover {
            color: #ea4452; }
  .header.nav_is_open .header_logo a {
    color: #0d0d0d; }
  .header.nav_is_open .header_navigation_list {
    visibility: visible; }
    .header.nav_is_open .header_navigation_list > li {
      top: 0;
      opacity: 1;
      filter: alpha(opacity=100);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -webkit-transition: top 0.3s ease 0.4s, opacity 0.3s ease 0.4s;
      transition: top 0.3s ease 0.4s, opacity 0.3s ease 0.4s; }
  .header.nav_is_open .header_navigation_button .sandwich {
    background-color: transparent;
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease; }
    .header.nav_is_open .header_navigation_button .sandwich::before {
      width: 70%;
      right: 0px;
      -webkit-transform: translateY(0) rotate(45deg);
          -ms-transform: translateY(0) rotate(45deg);
              transform: translateY(0) rotate(45deg);
      background-color: #0d0d0d; }
    .header.nav_is_open .header_navigation_button .sandwich::after {
      width: 70%;
      right: 0px;
      -webkit-transform: translateY(0) rotate(-45deg);
          -ms-transform: translateY(0) rotate(-45deg);
              transform: translateY(0) rotate(-45deg);
      background-color: #0d0d0d; }
  .header.nav_is_open .header_navigation_button .text {
    -webkit-transition: width 0.4s ease, opacity 0.2s ease;
    transition: width 0.4s ease, opacity 0.2s ease;
    width: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.parallax-section {
  margin-bottom: 150px; }

.alert--success {
  color: #0d0d0d;
  font-family: Fira Sans; }

.ac-custom li {
  margin: 0 auto;
  position: relative;
  min-height: 40px; }
  .ac-custom li label {
    display: inline-block;
    position: relative;
    font-family: 'Fira Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 0 0 0 30px;
    vertical-align: middle;
    color: #0d0d0d;
    text-transform: none;
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
  .ac-custom li input[type="checkbox"],
  .ac-custom li input[type="radio"],
  .ac-custom li label::before {
    width: 15px;
    height: 15px;
    top: 50%;
    left: 0;
    margin-top: -10px;
    position: absolute;
    cursor: pointer; }
  .ac-custom li input[type="checkbox"],
  .ac-custom li input[type="radio"] {
    opacity: 0;
    display: inline-block;
    vertical-align: middle;
    z-index: 100; }
    .ac-custom li input[type="checkbox"]:checked + label::before,
    .ac-custom li input[type="radio"]:checked + label::before {
      opacity: .8; }
  .ac-custom li label::before {
    content: '';
    border: 3px solid #0d0d0d;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  .ac-custom li label.radio::before {
    border: none;
    background-color: #0d0d0d;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    left: 6px; }
  .ac-custom li svg {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    margin-top: -12px;
    left: 3px;
    pointer-events: none; }
    .ac-custom li svg path {
      stroke: #ea4452;
      stroke-width: 13px;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none; }

/*-----------------------------------------------------------------------------------




			! ! !    R E A D   T H I S    ! ! ! 
			-----------------
			
			It's recomended to use/create a custom css file (ore place them at the end of this file) 
			to do you customizations in order to easily update the main css files without loosing your changes
			
			
			> > Please take also a look at the documentation file.
			
			
			
			
			COLORS
			----
			black (dark text,backgrounds)				#0d0d0d
			default text color (body)					#4d4d4d
			light text color							#808080				 
			grey light background						#f2f2f2
			
			main color									#ea4452


	/*-----------------------------------------------------------------------------------

		0.	RESET & CLEARFIX
		1.	BASICS (body, headers, links, etc)
		2. 	GENERAL ELEMENTS
		3.	HEADER
		4.	PAGE LOADER
		5. 	MENU / NAV
		6. 	FOOTER
		7. 	HERO / PAGETITLE
		8. 	PORTFOLIO
		9. 	FILTER / SHARE
		10. BLOG
		11.	MASONRY
		12. HORIZONTAL SECTIONS
		13. PAGINATION
		14. COLUMNS GRID
		15. ELEMENTS / SHORTCODES
		16. CUSTOM
		
	-----------------------------------------------------------------------------------*/
/*---------------------------------------------- 
	0. RESET & CLEARFIX
	------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
.overlaycaption, figure,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%; }

ol, ul {
  list-style: none; }

:focus {
  outline: 0; }

/* deleting the default appearence for form elements */
input[type=text], input[type=tel], input[type=password], input[type=submit], textarea, select {
  -moz-appearance: none;
  -webkit-appearance: none; }

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0; }

.clearfix {
  *display: inline-block;
  height: 1%; }

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%; }

/* HTML5 display definitions */
article, aside, details, .overlaycaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none;
  visibility: hidden; }

/*---------------------------------------------- 
	1. BASICS
	------------------------------------------------*/
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Prevent iOS text size adjust on orientation change without disabling user zoom */
  -ms-text-size-adjust: 100%;
  position: relative; }

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 26px;
  color: #4d4d4d;
  text-align: left;
  position: relative;
  background: #ffffff;
  min-height: 100%; }

::-moz-selection {
  background: #0d0d0d;
  color: #ffffff; }

::selection {
  background: #0d0d0d;
  color: #ffffff; }

::-moz-selection {
  background: #0d0d0d;
  color: #ffffff; }

::-webkit-selection {
  background: #0d0d0d;
  color: #ffffff; }

/* Headings
	---------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Sans';
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #0d0d0d; }

.text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6 {
  color: #ffffff; }

h1 {
  font-size: 84px;
  line-height: 96px; }

h2 {
  font-size: 56px;
  line-height: 66px; }

h3 {
  font-size: 34px;
  line-height: 42px; }

h4 {
  font-size: 27px;
  line-height: 34px; }

h5 {
  font-size: 20px;
  line-height: 26px; }

h6 {
  font-size: 16px;
  line-height: 21px; }

h1 b, h2 b, h3 b, h4 b, h5 b, h6 b, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-weight: 700; }

/* Headers Spacing */
div h1, div h2, div h3, div h4, div h5, div h6 {
  margin-top: 30px; }

div h1:first-child, div h2:first-child, div h3:first-child, div h4:first-child, div h5:first-child, div h6:first-child {
  margin-top: 0px !important; }

h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h1, h2 + h2, h2 + h3, h2 + h4, h1 + h5, h2 + h6,
h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6,
h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6,
h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6,
h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 {
  margin-top: 10px; }

.alttitle {
  font-family: 'Poiret One';
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0.04em; }

.alttitle b, .alttitle strong {
  font-weight: 700; }

/* headers with link */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #0d0d0d; }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #ea4452; }

/* Forms
	---------------------------------------- */
::-webkit-input-placeholder {
  color: #0d0d0d; }

:-moz-placeholder {
  color: #0d0d0d; }

::-moz-placeholder {
  color: #0d0d0d; }

:-ms-input-placeholder {
  color: #0d0d0d; }

.text-light ::-webkit-input-placeholder {
  color: #ffffff; }

.text-light :-moz-placeholder {
  color: #ffffff; }

.text-light ::-moz-placeholder {
  color: #ffffff; }

.text-light :-ms-input-placeholder {
  color: #ffffff; }

input[type=text], input[type=tel], input[type=password], input[type=email], textarea {
  font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  background: transparent;
  border: none;
  line-height: 24px;
  height: 24px;
  color: #0d0d0d;
  padding: 0px 0px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border-radius: 0px;
  -moz-border-radius: 0x;
  -khtml-border-radius: 0px;
  -webkit-border-radius: 0px;
  resize: none;
  border-bottom: 1px solid #f2f2f2; }

.text-light input[type=text], .text-light input[type=tel], .text-light input[type=password], .text-light input[type=email], .text-light textarea {
  border-color: #808080;
  color: #ffffff; }

input[type=text]:focus, input[type=tel]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
  border-color: #0d0d0d; }

.text-light input[type=text]:focus, .text-light input[type=tel]:focus, .text-light input[type=password]:focus, .text-light input[type=email]:focus, .text-light textarea:focus {
  border-color: #ffffff; }

input.false[type=text], input.false[type=tel], input.false[type=password]:focus, input.false[type=email], textarea.false {
  border-color: #fa4d5a; }

input[type=text], input[type=tel], input[type=password], input[type=email] {
  width: 100%;
  max-width: 100%; }

textarea {
  width: 100%;
  min-height: 100px;
  max-width: 100%; }

.one-half input[type=text], .one-half input[type=tel], .one-half input[type=password], .one-half input[type=email] {
  width: 520px; }

.one-half textarea {
  width: 520px; }

input[type=submit] {
  cursor: pointer;
  border-radius: 0px;
  -moz-border-radius: 0x;
  -khtml-border-radius: 0px;
  -webkit-border-radius: 0px;
  display: inline-block;
  font-family: 'Fira Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 20px !important;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: #ffffff;
  padding: 15px 50px;
  background: #ea4452;
  border: none; }

input[type=submit]:hover {
  background: #0d0d0d; }

.text-light input[type=submit]:hover {
  background: #ffffff;
  color: #0d0d0d; }

select {
  border: 1px solid #d9d9d9;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 300;
  height: 44px;
  width: auto;
  padding: 8px;
  color: #b2b2b2;
  border-radius: 0px;
  -moz-border-radius: 0x;
  -khtml-border-radius: 0px;
  -webkit-border-radius: 0px; }

select:hover {
  border-color: #0d0d0d; }

select option {
  cursor: pointer;
  padding: 5px 7px; }

label {
  line-height: 20px;
  width: 100%;
  color: #0d0d0d;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.text-light label {
  color: #ffffff; }

.form-row.false label {
  color: #fa4d5a; }

form {
  margin-top: 80px; }

form .form-row {
  margin-top: 40px;
  position: relative; }

form .form-submit {
  margin-top: 40px; }

div form:first-child, form .form-row:first-child {
  margin-top: 0px; }

/* Chech formular */
#form-note {
  display: none;
  margin-top: 20px; }

/* Links
	---------------------------------------- */
a {
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  color: #ea4452; }

a:hover {
  color: #0d0d0d; }

.text-light a:hover {
  color: #ffffff; }

/* Embedded content
	---------------------------------------- */
img, object, video {
  max-width: 100%;
  height: auto;
  display: inline-block;
  margin: 0;
  vertical-align: top; }

img {
  width: auto;
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic; }

p img {
  margin-top: 20px; }

p img:first-child {
  margin-top: 0px; }

img.alignleft {
  margin: 3px 20px 20px 0;
  float: left; }

img.alignright {
  margin: 3px 0px 20px 20px;
  float: right; }

/* Lists
	---------------------------------------- */
ul {
  margin-top: 20px;
  margin-left: 15px;
  list-style: disc; }

div ul:first-child, li ul:first-child {
  margin-top: 0px; }

ol {
  margin-top: 20px;
  margin-left: 30px;
  list-style: decimal; }

div ol:first-child, li ol:first-child {
  margin-top: 0px; }

ul li, ol li {
  margin-top: 10px; }

ul li:first-child, ol li:first-child {
  margin-top: 0px; }

ul.list-nostyle {
  list-style: none !important;
  margin-left: 0 !important; }

ul.list-nostyle li > .fa {
  margin-right: 10px; }

/* Others
	---------------------------------------- */
p {
  margin-top: 20px; }

div p:first-child {
  margin-top: 0px; }

strong, b, dt {
  font-weight: 600; }

i, dfn, em {
  font-style: italic; }

strong i, b i, dt i, strong em, b em, dt em {
  font-style: italic;
  font-weight: 700; }

blockquote {
  margin: 60px;
  font-size: 24px;
  line-height: 32px;
  font-family: 'Open Sans', Georgia;
  font-weight: 300;
  color: #0d0d0d;
  font-style: italic; }

div blockquote:first-child {
  margin-top: 0px; }

blockquote p {
  margin: 0; }

pre, code {
  padding: 20px;
  margin-top: 20px;
  font-size: 12px;
  line-height: 16px;
  display: block;
  background: #f7f7f7;
  color: #0d0d0d; }

div pre:first-child, div code:first-child {
  margin-top: 0px; }

p pre, p code {
  padding: 0 5px;
  margin-top: 0;
  display: inline-block; }

/*---------------------------------------------- 
	2. GENERAL ELEMENTS
	------------------------------------------------*/
#page-content {
  overflow: hidden;
  margin: 0;
  min-width: 1080px; }

#page-body {
  padding-top: 150px; }

#page-body.nopadding {
  padding: 0; }

.wrapper {
  width: 1080px;
  margin: 0 auto; }

.wrapper-small {
  width: 780px;
  margin: 0 auto; }

.wrapper-mini {
  width: 400px;
  margin: 0 auto; }

.wrapper:after, .wrapper-small:after, .wrapper-mini:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0; }

.left-float {
  float: left; }

.right-float {
  float: right; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.text-light {
  color: #ffffff; }

.colored {
  color: #ea4452; }

/*---------------------------------------------- 
	3. HEADER
	------------------------------------------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  z-index: 10; }

header.non-fixed {
  position: absolute; }

header .header-inner {
  padding: 0px 40px;
  height: 0;
  margin-top: 60px;
  margin-bottom: 60px; }

header .header-inner.wrapper {
  padding: 0; }

/* header background (white bar when nav is open)*/
header:after {
  content: "";
  background: #ffffff;
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 150px;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
  z-index: 9; }

header.nav-is-open:after {
  top: 0; }

header.header-transparent:after {
  background: transparent;
  display: none; }

header #logo {
  max-width: 100%;
  height: 30px;
  position: relative;
  z-index: 10; }

header #logo #dark-logo + #light-logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

header #logo img {
  max-height: 100%; }

/* switching logos */
header #logo .logotype {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

header.nav-is-open #logo #dark-logo {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

header.nav-is-open #logo #light-logo {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

header #logo.show-light-logo #dark-logo {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

header #logo.show-light-logo #dark-logo + #light-logo {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

.header-transparent #logo #dark-logo {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

.header-transparent #logo #light-logo {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.header-transparent #logo.show-light-logo #dark-logo {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.header-transparent #logo.show-light-logo #dark-logo + #light-logo {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

header.hero-invisible #logo #dark-logo {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important; }

header.hero-invisible #logo #light-logo {
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important; }

/* header-open on page load */
header.header-open:after {
  top: 0; }

header.header-open:not(.header-transparent) #logo #dark-logo, header.nav-is-open:not(.header-transparent) #logo #dark-logo {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important; }

header.header-open:not(.header-transparent) #logo #light-logo, header.nav-is-open:not(.header-transparent) #logo #light-logo {
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important; }

header.header-open:not(.header-transparent) + #hero, header.header-open:not(.header-transparent) + #page-body {
  margin-top: 150px; }

/*---------------------------------------------- 
	4. PAGELOADER
	------------------------------------------------*/
.pace {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: transparent;
  z-index: 999999;
  transition: all 800ms .2s ease-in-out;
  -webkit-transition: all 800ms .2s ease-in-out;
  -moz-transition: all 800ms .2s ease-in-out;
  -o-transition: all 800ms .2s ease-in-out;
  -ms-transition: all 800ms .2s ease-in-out;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

body.loading-end .pace {
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important; }

.pace .pace-progress {
  background: #000000;
  z-index: 2000;
  height: 4px;
  -webkit-transition: all 1s;
  transition: all 1s; }

.pace-inactive {
  display: none; }

#page-loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #ffffff;
  z-index: 9; }

#page-loader .loader-logo-name {
  position: absolute;
  top: 40px;
  left: 0;
  text-align: center;
  width: 100%; }

#page-loader .loader-logo-name img {
  height: 30px; }

#page-loader .loader-subtitle {
  margin-top: 10px; }

#page-loader .loader {
  margin-top: 40px;
  font-family: 'Fira Sans';
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #0d0d0d;
  font-size: 32px;
  line-height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 0;
  text-align: center;
  width: 100%; }

/*---------------------------------------------- 
	5. MENU / NAV
	------------------------------------------------*/
#menu {
  position: relative;
  z-index: 10; }

.open-nav {
  display: block;
  height: 30px;
  float: right;
  position: relative;
  z-index: 10;
  margin-left: 20px; }

.open-nav .hamburger {
  display: inline-block;
  width: 22px;
  height: 2px;
  background-color: #0d0d0d;
  position: relative;
  top: -3px;
  -webkit-transition: background 0.4s ease;
  transition: background 0.4s ease; }

.open-nav .hamburger:before, .open-nav .hamburger:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #0d0d0d;
  right: 0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: background 0.4s ease, right .2s ease, -webkit-transform 0.4s;
  transition: background 0.4s ease, right .2s ease, -webkit-transform 0.4s;
  transition: transform 0.4s, background 0.4s ease, right .2s ease;
  transition: transform 0.4s, background 0.4s ease, right .2s ease, -webkit-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s ease, background 0.4s, right .2s ease;
  -moz-transition: -moz-transform 0.4s, background 0.4s ease, right .2s ease;
  -o-transition: -o-transform 0.4s, background 0.4s ease, right .2s ease;
  -ms-transition: -ms-transform 0.4s, background 0.4s ease, right .2s ease; }

.open-nav .hamburger:before {
  right: 2px;
  -webkit-transform: translateY(-6px) rotate(0deg);
  -ms-transform: translateY(-6px) rotate(0deg);
  transform: translateY(-6px) rotate(0deg); }

.open-nav .hamburger:after {
  right: 5px;
  -webkit-transform: translateY(6px) rotate(0deg);
  -ms-transform: translateY(6px) rotate(0deg);
  transform: translateY(6px) rotate(0deg); }

.open-nav:hover .hamburger:before, .open-nav:hover .hamburger:after {
  right: 0px; }

.open-nav .text {
  width: 65px;
  text-align: right;
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #0d0d0d;
  letter-spacing: 0.12em;
  -webkit-transition: width 0.4s ease, opacity 0.2s ease 0.3s, color 0.4s;
  transition: width 0.4s ease, opacity 0.2s ease 0.3s, color 0.4s; }

/* open nav state */
header.nav-is-open #menu .open-nav .hamburger {
  background-color: transparent;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease; }

header.nav-is-open #menu .open-nav .hamburger:before {
  width: 70%;
  right: 0px;
  -webkit-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
  background-color: #0d0d0d; }

header.nav-is-open #menu .open-nav .hamburger:after {
  width: 70%;
  right: 0px;
  -webkit-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
  background-color: #0d0d0d; }

header.nav-is-open #menu .open-nav .text {
  -webkit-transition: width 0.4s ease, opacity 0.2s ease;
  transition: width 0.4s ease, opacity 0.2s ease;
  width: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

nav#main-nav {
  float: left;
  visibility: hidden; }

header.nav-is-open #menu nav#main-nav {
  visibility: visible; }

nav#main-nav ul {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 10; }

nav#main-nav ul > li {
  margin: 0 0 0 20px;
  padding: 0;
  display: inline-block;
  position: relative;
  -webkit-transition: top 0.3s ease 0.4s, opacity 0.3s ease;
  transition: top 0.3s ease 0.4s, opacity 0.3s ease;
  top: -5px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

nav#main-nav ul > li:first-child {
  margin: 0; }

header.nav-is-open #menu nav#main-nav ul > li:nth-child(2n) {
  -webkit-transition: top 0.3s ease 0.5s, opacity 0.3s ease 0.5s;
  transition: top 0.3s ease 0.5s, opacity 0.3s ease 0.5s; }

header.nav-is-open #menu nav#main-nav ul > li:nth-child(3n) {
  -webkit-transition: top 0.3s ease 0.6s, opacity 0.3s ease 0.6s;
  transition: top 0.3s ease 0.6s, opacity 0.3s ease 0.6s; }

header.nav-is-open #menu nav#main-nav ul > li:nth-child(4n) {
  -webkit-transition: top 0.3s ease 0.7s, opacity 0.3s ease 0.7s;
  transition: top 0.3s ease 0.7s, opacity 0.3s ease 0.7s; }

header.nav-is-open #menu nav#main-nav ul > li:nth-child(5n) {
  -webkit-transition: top 0.3s ease 0.8s, opacity 0.3s ease 0.8s;
  transition: top 0.3s ease 0.8s, opacity 0.3s ease 0.8s; }

header.nav-is-open #menu nav#main-nav ul > li:nth-child(6n) {
  -webkit-transition: top 0.3s ease 0.9s, opacity 0.3s ease 0.9s;
  transition: top 0.3s ease 0.9s, opacity 0.3s ease 0.9s; }

header.nav-is-open #menu nav#main-nav ul > li:nth-child(7n) {
  -webkit-transition: top 0.3s ease 1.0s, opacity 0.3s ease 1.0s;
  transition: top 0.3s ease 1.0s, opacity 0.3s ease 1.0s; }

header.nav-is-open #menu nav#main-nav ul > li:nth-child(8n) {
  -webkit-transition: top 0.3s ease 1.1s, opacity 0.3s ease 1.1s;
  transition: top 0.3s ease 1.1s, opacity 0.3s ease 1.1s; }

header.nav-is-open #menu nav#main-nav ul > li {
  top: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transition: top 0.3s ease 0.4s, opacity 0.3s ease 0.4s;
  transition: top 0.3s ease 0.4s, opacity 0.3s ease 0.4s; }

nav#main-nav ul li > a {
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #0d0d0d;
  letter-spacing: 0.12em;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease; }

nav#main-nav > ul > li:hover > a, nav#main-nav > ul > li.current-menu-item > a {
  color: #ea4452 !important; }

/* submenu */
.header_navigation_list li > ul.submenu {
  position: absolute;
  top: 20px;
  right: -20px;
  width: 240px;
  padding-top: 20px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease; }

.header_navigation_list li:hover > ul.submenu {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible;
  top: 30px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease; }

.header_navigation_list li > ul.submenu > li {
  margin: 0;
  padding: 2px 20px 2px 20px;
  display: block;
  position: relative;
  text-align: right;
  background: #0d0d0d; }

.header_navigation_list li > ul.submenu > li:first-child {
  padding-top: 15px; }

.header_navigation_list li > ul.submenu > li:last-child {
  padding-bottom: 15px; }

.header_navigation_list li > ul.submenu > li a {
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

.header_navigation_list li > ul.submenu > li a em, .header_navigation_list li > ul.submenu > li a i {
  font-size: 0.9em;
  text-transform: none;
  letter-spacing: 0.05em; }

.header_navigation_list li > ul.submenu > li a:hover, .header_navigation_list li > ul.submenu > li.current-menu-item > a {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=7-100)"; }

/* menu color switch */
header:not(.hero-invisible) .menu-light .open-nav .text {
  color: #ffffff; }

header:not(.hero-invisible) .menu-light .open-nav .hamburger, header:not(.hero-invisible) .menu-light .open-nav .hamburger:before, header:not(.hero-invisible) .menu-light .open-nav .hamburger:after {
  background-color: #ffffff; }

.menu-light nav#main-nav > ul > li > a {
  color: #ffffff; }

header.nav-is-open:not(.header-transparent) .menu-light nav#main-nav > ul > li > a {
  color: #0d0d0d; }

header.header-open:not(.header-transparent) .menu-light nav#main-nav > ul > li > a {
  color: #0d0d0d; }

header.nav-is-open.header-transparent #menu.menu-light .open-nav .text {
  color: #ffffff; }

header.nav-is-open.header-transparent #menu.menu-light .open-nav .hamburger:before {
  background-color: #ffffff; }

header.nav-is-open.header-transparent #menu.menu-light .open-nav .hamburger:after {
  background-color: #ffffff; }

header.nav-is-open.header-transparent #menu.menu-light .open-nav .hamburger:before {
  background-color: #ffffff; }

header.nav-is-open.header-transparent #menu.menu-light .open-nav .hamburger:after {
  background-color: #ffffff; }

header.hero-invisible #menu .open-nav .text {
  color: #0d0d0d !important; }

header.hero-invisible #menu .open-nav .hamburger, header.hero-invisible #menu .open-nav .hamburger:before, header.hero-invisible #menu .open-nav .hamburger:after {
  background-color: #0d0d0d !important; }

header.nav-is-open #menu .open-nav .hamburger {
  background-color: transparent !important; }

header.hero-invisible .menu-light nav#main-nav > ul > li > a {
  color: #0d0d0d; }

/* header-open on page load */
header.header-open #menu .open-nav {
  display: none; }

header.header-open #menu nav#main-nav {
  visibility: visible; }

header.header-open nav#main-nav ul > li {
  -webkit-transition: none;
  transition: none;
  top: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

/*---------------------------------------------- 
	6. FOOTER
	------------------------------------------------*/
footer {
  width: 100%;
  background: #f7f7f7;
  position: relative;
  font-size: 13px;
  line-height: 23px; }

footer.footer-dark {
  background: #0d0d0d; }

footer .footer-inner {
  padding: 120px 0; }

footer .copyright {
  font-family: 'Open Sans'; }

footer .widget {
  margin-top: 40px; }

footer .widget:first-child, div .widget:first-child {
  margin: 0; }

footer #backtotop {
  text-align: center;
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #0d0d0d;
  line-height: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 2; }

.text-light #backtotop {
  color: #ffffff; }

footer #backtotop:hover {
  color: #ea4452; }

footer #backtotop:before {
  text-align: center;
  content: "\f126";
  font-family: "Ionicons";
  font-size: 10px;
  line-height: 10px;
  height: 10px;
  width: 10px;
  text-align: center;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  -webkit-transition: top 0.2s ease;
  transition: top 0.2s ease; }

footer #backtotop:hover:before {
  top: -13px; }

/*---------------------------------------------- 
	7. HERO / PAGETITLE
	------------------------------------------------*/
#hero {
  position: relative;
  overflow: hidden; }

/* hero slider */
#hero .hero-slider {
  position: relative; }

#hero .hero-slider .slider-item {
  height: 100vh;
  position: relative;
  background-position: center center;
  background-size: cover; }

#hero.hero-big .hero-slider .slider-item {
  height: 600px;
  max-height: 90vh; }

#hero.hero-half .hero-slider .slider-item {
  height: 400px;
  max-height: 60vh; }

/* hero pagetitle */
#hero .page-title {
  padding-top: 200px;
  position: relative;
  text-align: center; }

#hero .page-title:not(.wrapper) {
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px);
  padding-left: 40px;
  padding-right: 40px; }

#hero.hero-full {
  height: 100vh; }

#hero.hero-big {
  height: 600px;
  max-height: 90vh; }

#hero.hero-half {
  height: 400px;
  max-height: 60vh; }

#hero.hero-full .page-title, #hero.hero-big .page-title, #hero.hero-half .page-title {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

#hero .page-title.hleft {
  text-align: left; }

#hero.hero-full .page-title.hright, #hero.hero-big .page-title.hright, #hero.hero-half .page-title.hright {
  text-align: right;
  left: auto;
  right: 40px; }

#hero.hero-full .page-title.vbottom, #hero.hero-big .page-title.vbottom, #hero.hero-half .page-title.vbottom {
  top: auto;
  bottom: 60px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }

#hero.hero-full .page-title.vtop, #hero.hero-big .page-title.vtop, #hero.hero-half .page-title.vtop {
  bottom: auto;
  top: 60px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }

/* if wolf item in page-title */
#hero .page-title .wolf-item {
  margin-bottom: 0px; }

/* scroll down */
#scroll-down {
  text-align: center;
  font-size: 12px;
  font-family: "Maven Pro";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #0d0d0d;
  line-height: 20px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 2; }

#scroll-down.text-light, .text-light #scroll-down {
  color: #ffffff; }

#scroll-down:before {
  text-align: center;
  content: "\f123";
  font-family: "Ionicons";
  font-size: 10px;
  line-height: 10px;
  height: 10px;
  width: 10px;
  text-align: center;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
  -webkit-animation: chevron-anim 2s ease infinite;
  animation: chevron-anim 2s ease infinite; }

@-webkit-keyframes chevron-anim {
  0% {
    bottom: -10px; }
  50% {
    bottom: -20px; }
  100% {
    bottom: -10px; } }

@keyframes chevron-anim {
  0% {
    bottom: -10px; }
  50% {
    bottom: -20px; }
  100% {
    bottom: -10px; } }

/*---------------------------------------------- 
	8. PORTFOLIO
	------------------------------------------------*/
/* portfolio wolf items hover effect */
.portfolio-wolf-item .portfolio-caption a {
  -webkit-transition: all 0.3s ease 0.05s;
  transition: all 0.3s ease 0.05s;
  display: block; }

.portfolio-wolf-item .portfolio-caption a:hover, .portfolio-wolf-item .portfolio-caption.hovered a {
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px); }

.portfolio-wolf-item.wright .portfolio-caption a:hover, .portfolio-wolf-item.wright .portfolio-caption.hovered a {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px); }

.portfolio-wolf-item .portfolio-media a.wolf-media-link img {
  -webkit-transition: all 0.5s ease 0.05s;
  transition: all 0.5s ease 0.05s; }

.portfolio-wolf-item .portfolio-media a.wolf-media-link:hover img, .portfolio-wolf-item .portfolio-media.hovered a.wolf-media-link img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

/* photography wolf items hover effect */
.photography-wolf-item .photography-caption a {
  display: inline-block; }

.photography-wolf-item .photography-caption a:hover h6 {
  color: #ea4452; }

.photography-wolf-item .photography-media a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.photography-wolf-item .photography-media a:hover {
  opacity: 0.5; }

/*---------------------------------------------- 
	9. FILTER / SHARE
	------------------------------------------------*/
#header-filter, #header-share {
  z-index: 11;
  position: fixed;
  top: -150px;
  left: 0;
  width: 100%;
  min-height: 150px;
  overflow: hidden;
  -webkit-transition: top 0.4s ease;
  transition: top 0.4s ease; }

#header-filter.filter-is-open, #header-share.share-is-open {
  top: 0px; }

#header-filter:after, #header-share:after {
  content: "";
  background: #f2f2f2;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease; }

#header-filter .filter-inner, #header-share .share-inner {
  position: absolute;
  left: 40px;
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px);
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.wrapper #header-filter .filter-inner, .wrapper #header-share .share-inner {
  width: 1080px;
  left: 50%;
  margin-left: -540px; }

#menu .open-filter, #menu .open-share {
  font-family: 'Open Sans';
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  line-height: 20px;
  color: #0d0d0d;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
  position: absolute;
  z-index: 2;
  bottom: -60px;
  right: 0px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease; }

header.hero-invisible #menu .open-filter, header #menu .open-share {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  visibility: visible; }

header #menu .open-filter:hover, header #menu .open-share:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

#header-filter .close-filter, #header-share .close-share {
  position: absolute;
  z-index: 4;
  top: 50%;
  margin-top: -8px;
  right: 0;
  margin-left: -9px;
  text-indent: -9999px;
  display: block;
  width: 16px;
  height: 16px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -webkit-transition: opacity 200ms linear;
  transition: opacity 200ms linear; }

#header-filter .close-filter:hover, #header-share .close-share:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

#header-filter .close-filter:before, #header-filter .close-filter:after, #header-share .close-share:before, #header-share .close-share:after {
  width: 16px;
  height: 2px;
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  background-color: #0d0d0d;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: opacity 400ms 0.3s linear;
  transition: opacity 400ms 0.3s linear;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

#header-filter.filter-is-open .close-filter:before, #header-filter.filter-is-open .close-filter:after,
#header-share.share-is-open .close-share:before, #header-share.share-is-open .close-share:after {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

#header-filter .close-filter:after, #header-share .close-share:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#header-filter .title-filter, #header-share .title-share {
  margin-top: 0px; }

#header-filter .title-filter + ul.filter, #header-share .title-share + ul.share {
  margin-top: 10px; }

ul.filter {
  margin: 0;
  padding: 0;
  list-style: none;
  height: auto; }

#header-filter.filter-is-open ul.filter {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

ul.filter li {
  padding: 0 10px;
  margin: 0;
  display: inline-block; }

ul.filter li a {
  position: relative;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 13px;
  text-transform: none;
  color: #0d0d0d;
  letter-spacing: 0.12em;
  line-height: 20px;
  padding-left: 0.1em;
  -webkit-transition: opacity 200ms linear;
  transition: opacity 200ms linear; }

.text-light ul.filter li a {
  color: #ffffff; }

ul.filter li a.active, ul.filter li a:hover {
  color: #ea4452; }

/* switching color filter + share*/
header:not(.hero-invisible) #menu.menu-light .open-filter, #menu.menu-light:not(.hero-invisible) .open-share {
  color: #ffffff; }

header.nav-is-open:not(.header-transparent) #menu .open-filter, header.nav-is-open:not(.header-transparent) #menu .open-share {
  color: #0d0d0d; }

header.header-open:not(.header-transparent) #menu .open-filter, header.header-open:not(.header-transparent) #menu .open-share {
  color: #0d0d0d; }

header.nav-is-open.header-transparent #menu.menu-light .open-filter, header.nav-is-open.header-transparent #menu.menu-light .open-share {
  color: #ffffff; }

header.hero-invisible #menu .open-filter, header.hero-invisible #menu .open-share {
  color: #0d0d0d !important; }

/*---------------------------------------------- 
	10. BLOG
	------------------------------------------------*/
/* masonry layout */
.blog-masonry-entry .blog-media + .blog-content {
  padding: 0 40px;
  position: relative;
  top: -18px; }

.blog-masonry-entry .blog-content .time {
  font-family: 'Open Sans';
  font-weight: 400;
  letter-spacing: 0.04em;
  background: #0d0d0d;
  padding: 8px 20px;
  color: #ffffff;
  display: inline-block;
  font-size: 13px;
  line-height: 20px; }

.blog-masonry-entry .post-name {
  margin-top: 15px; }

.blog-masonry-entry .blog-media img {
  -webkit-transition: all 0.5s ease 0.05s;
  transition: all 0.5s ease 0.05s; }

.blog-masonry-entry .blog-media:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

/* Blog Single 
	----------------------------*/
#blog-single .blog-content {
  overflow: hidden; }

#blog-single .blog-meta {
  width: 140px;
  font-size: 13px;
  float: left;
  text-align: center;
  line-height: 16px; }

#blog-single .blog-meta .meta-avatar, #blog-single .blog-meta .meta-avatar img {
  width: 140px;
  height: 140px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -khtml-border-radius: 100px;
  -webkit-border-radius: 100px; }

#blog-single .blog-meta .meta-avatar {
  margin-bottom: 15px; }

#blog-single .blog-meta .meta-author, #blog-single .blog-meta .meta-category {
  margin-bottom: 15px; }

#blog-single .blog-meta .meta-author span, #blog-single .blog-meta .meta-category span {
  display: block;
  font-family: "Open Sans"; }

#blog-single .blog-meta .meta-author a, #blog-single .blog-meta .meta-category a {
  font-family: "Maven Pro";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: #0d0d0d; }

#blog-single .blog-meta .meta-author a:hover, #blog-single .blog-meta .meta-category a:hover {
  color: #ea4452; }

#blog-single .blog-text {
  width: -webkit-calc(100% - 220px);
  width: calc(100% - 220px);
  float: right; }

/* Blog comments 
	----------------------------*/
#blog-comments {
  margin-top: 120px;
  background: #f7f7f7;
  padding: 120px 0; }

#blog-comments ul {
  background: none;
  list-style: none;
  margin: 0;
  padding: 0; }

#blog-comments .comment-list {
  margin-top: 60px; }

#blog-comments .comment-list > .comment {
  margin-top: 60px; }

#blog-comments .comment-list > .comment:first-child {
  border-top: none;
  margin-top: 0px;
  padding-top: 0px; }

#blog-comments .comment .comment-inner {
  overflow: hidden; }

#blog-comments .comment .children {
  margin-left: 80px;
  margin-top: 40px; }

#blog-comments .user {
  float: left;
  width: 60px;
  -webkit-border-radius: 999px;
  border-radius: 999px; }

#blog-comments .user img {
  -webkit-border-radius: 999px;
  border-radius: 999px; }

#blog-comments .time {
  font-size: 14px;
  margin-top: 0px; }

#blog-comments .comment-content {
  margin-left: 80px;
  position: relative; }

#blog-comments p {
  font-size: 14px;
  line-height: 22px;
  margin-top: 10px; }

/* Leave comment
	----------------------------*/
#blog-leavecomment {
  margin: 120px 0; }

#blog-leavecomment form {
  margin-top: 60px; }

#blog-leavecomment form .form-row {
  margin-right: 60px;
  width: -webkit-calc(33.3% - 40px);
  width: calc(33.3% - 40px);
  float: left;
  margin-top: 0; }

#blog-leavecomment form .form-row.last-formrow {
  margin-right: 0px; }

#blog-leavecomment form .form-row.textbox, #blog-leavecomment form .form-row.form-submit {
  width: 100% !important;
  float: none !important;
  margin-top: 40px; }

/*---------------------------------------------- 
	11. MASONRY
	------------------------------------------------*/
.masonry {
  width: -webkit-calc(100% + 120px);
  width: calc(100% + 120px);
  margin-bottom: -100px;
  overflow: visible !important; }

.masonry .masonry-item {
  width: 24.98%;
  /* will be overwritten by javascript */
  margin-right: 120px;
  margin-bottom: 100px;
  float: left; }

#portfolio-grid.masonry .masonry-item {
  margin-right: 60px;
  margin-bottom: 60px; }

#portfolio-grid.masonry {
  margin-bottom: -60px; }

/*---------------------------------------------- 
	12. HORIZONTAL SECTIONS
	------------------------------------------------*/
.horizontal-section .horizontal-inner {
  padding: 120px 0; }

/*---------------------------------------------- 
	13. PAGINATION
	------------------------------------------------*/
.single-pagination {
  list-style: none;
  margin: 120px 0 !important;
  position: relative; }

.single-pagination:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0; }

.single-pagination li {
  padding: 0;
  margin: 0;
  width: auto; }

.single-pagination li.prev {
  float: left;
  text-align: right;
  width: -webkit-calc(50% - 120px);
  width: calc(50% - 120px); }

.single-pagination li.next {
  float: right;
  text-align: left;
  width: -webkit-calc(50% - 120px);
  width: calc(50% - 120px); }

.single-pagination li.backtoworks {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%); }

.single-pagination li a {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  text-transform: uppercase;
  color: #0d0d0d;
  letter-spacing: 0.12em;
  position: relative; }

.single-pagination li a img {
  max-width: 260px;
  max-height: 260px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

.single-pagination li a img + span {
  color: #0d0d0d !important;
  position: absolute;
  top: 50%;
  left: 30px;
  max-width: 100px;
  -webkit-transform: translateY(-50%) translateX(-100%);
  -ms-transform: translateY(-50%) translateX(-100%);
  transform: translateY(-50%) translateX(-100%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.single-pagination li.next a img + span {
  left: inherit;
  right: 30px;
  -webkit-transform: translateY(-50%) translateX(100%);
  -ms-transform: translateY(-50%) translateX(100%);
  transform: translateY(-50%) translateX(100%); }

/* hover effect */
.single-pagination li a:hover span {
  color: #ea4452; }

.single-pagination li.prev a:hover img + span {
  left: 50px; }

.single-pagination li.next a:hover img + span {
  right: 50px; }

.single-pagination li a img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.single-pagination li a:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

.single-pagination li.backtoworks a:hover {
  color: #ea4452; }

/*---------------------------------------------- 
	14. COLUMNS GRID
	------------------------------------------------*/
.column-section {
  margin-top: 60px; }

div .column-section:first-child, .spacer + .column-section {
  margin-top: 0px; }

.column {
  float: left;
  margin-right: 60px;
  min-height: 1px; }

.one-full {
  width: 100%;
  float: none;
  margin-right: 0; }

.one-half {
  width: 510px; }

.one-third {
  width: 320px; }

.two-third {
  width: 700px; }

.one-fourth {
  width: 225px; }

.two-fourth {
  width: 510px; }

.three-fourth {
  width: 795px; }

.one-fifth {
  width: 168px; }

.two-fifth {
  width: 396px; }

.three-fifth {
  width: 624px; }

.four-fifth {
  width: 852px; }

.wrapper-small .one-half {
  width: 360px; }

.wrapper-small .one-third {
  width: 220px; }

.wrapper-small .two-third {
  width: 500px; }

.wrapper-small .one-fourth {
  width: 150px; }

.wrapper-small .two-fourth {
  width: 360px; }

.wrapper-small .three-fourth {
  width: 570px; }

.wrapper-small .one-fifth {
  width: 108px; }

.wrapper-small .two-fifth {
  width: 276px; }

.wrapper-small .three-fifth {
  width: 444px; }

.wrapper-small .four-fifth {
  width: 612px; }

.wrapper-mini .column {
  float: none;
  margin-right: 0px;
  width: 100%; }

.last-col {
  margin-right: 0px !important; }

/*---------------------------------------------- 
	15. SHORTCODES / ELEMENTS
	------------------------------------------------*/
/*	Buttons
	------------------------------------------------*/
a.sr-button {
  display: inline-block;
  font-family: 'Fira Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 20px !important;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  color: #ffffff;
  padding: 15px 50px;
  background: #0d0d0d; }

a.sr-button:hover {
  background: #ea4452; }

a.mini-button {
  font-size: 10px;
  padding: 10px 40px; }

a.small-button {
  font-size: 12px;
  padding: 15px 50px; }

a.medium-button {
  font-size: 14px;
  padding: 18px 56px; }

a.big-button {
  font-size: 16px;
  padding: 22px 65px; }

a.sr-button1 {
  background: #0d0d0d; }

a.sr-button1:hover {
  background: #ea4452; }

a.sr-button2 {
  background: #ea4452; }

a.sr-button2:hover {
  background: #0d0d0d; }

a.sr-button3 {
  background: #ffffff; }

a.sr-button3:hover {
  background: #ea4452; }

a.sr-button4 {
  background: #ea4452; }

a.sr-button4:hover {
  background: #ffffff; }

.sr-button-text {
  font-family: 'Open Sans';
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  line-height: 20px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease; }

/*	Spacer
	------------------------------------------------*/
.spacer {
  width: 100%;
  display: block; }

.spacer.spacer-mini {
  height: 20px; }

.spacer.spacer-small {
  height: 40px; }

.spacer.spacer-medium {
  height: 120px; }

.spacer.spacer-big {
  height: 160px; }

/*	Social Widget
	------------------------------------------------*/
.socialmedia-widget {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none; }

.socialmedia-widget.align-center, .align-center .socialmedia-widget {
  text-align: center; }

div .socialmedia-widget:first-child {
  margin: 0; }

.socialmedia-widget li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 14px 0 0;
  position: relative;
  height: 20px;
  line-height: 20px; }

.align-center .socialmedia-widget li {
  margin-right: -5px;
  padding: 0 10px; }

.align-right .socialmedia-widget li {
  margin-left: 15px;
  margin-right: 0px; }

.socialmedia-widget li a {
  font: normal normal normal 12px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 20px;
  color: #0d0d0d;
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear; }

.text-light .socialmedia-widget li a {
  color: #ffffff; }

.socialmedia-widget li.vk a:before {
  content: "\f189"; }

.socialmedia-widget li.facebook a:before {
  content: "\f09a"; }

.socialmedia-widget li.twitter a:before {
  content: "\f099"; }

.socialmedia-widget li.tumblr a:before {
  content: "\f173"; }

.socialmedia-widget li.vimeo a:before {
  content: "\f194"; }

.socialmedia-widget li.dribbble a:before {
  content: "\f17d"; }

.socialmedia-widget li.deviantart a:before {
  content: "\f1bd"; }

.socialmedia-widget li.behance a:before {
  content: "\f1b4"; }

.socialmedia-widget li.flickr a:before {
  content: "\f16e"; }

.socialmedia-widget li.linkedin a:before {
  content: "\f0e1"; }

.socialmedia-widget li.rss a:before {
  content: "\f09e"; }

.socialmedia-widget li.googleplus a:before {
  content: "\f0d5"; }

.socialmedia-widget li.pinterest a:before {
  content: "\f0d2"; }

.socialmedia-widget li.youtube a:before {
  content: "\f167"; }

.socialmedia-widget li.mail a:before {
  content: "\f0e0"; }

.socialmedia-widget li.instagram a:before {
  content: "\f16d"; }

.socialmedia-widget li.xing a:before {
  content: "\f168"; }

.socialmedia-widget li.dropbox a:before {
  content: "\f16b"; }

.socialmedia-widget li.vk:hover a {
  color: #446ebf; }

.socialmedia-widget li.facebook:hover a {
  color: #446ebf; }

.socialmedia-widget li.twitter:hover a {
  color: #39aadc; }

.socialmedia-widget li.tumblr:hover a {
  color: #4c6781; }

.socialmedia-widget li.vimeo:hover a {
  color: #15c9f5; }

.socialmedia-widget li.dribbble:hover a {
  color: #f14980; }

.socialmedia-widget li.deviantart:hover a {
  color: #2ea06f; }

.socialmedia-widget li.behance:hover a {
  color: #00b0f0; }

.socialmedia-widget li.flickr:hover a {
  color: #f04783; }

.socialmedia-widget li.linkedin:hover a {
  color: #81d3fd; }

.socialmedia-widget li.rss:hover a {
  color: #ff8322; }

.socialmedia-widget li.googleplus:hover a {
  color: #d63d1e; }

.socialmedia-widget li.pinterest:hover a {
  color: #c81e1e; }

.socialmedia-widget li.youtube:hover a {
  color: #ee423d; }

.socialmedia-widget li.mail:hover a {
  color: #74624d; }

.socialmedia-widget li.instagram:hover a {
  color: #95604b; }

.socialmedia-widget li.xing:hover a {
  color: #036567; }

.socialmedia-widget li.dropbox:hover a {
  color: #008cd2; }

/*	inline video
	------------------------------------------------*/
.inline-video {
  position: relative;
  cursor: pointer;
  display: inline-block;
  max-width: 100%; }

.slider-item.inline-video, .parallax-section.inline-video {
  display: inherit; }

.inline-video:before {
  content: "\f488";
  font-family: "Ionicons";
  color: #ffffff;
  font-size: 90px;
  width: 65px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  left: 50%;
  margin-left: -35px;
  padding-left: 5px; }

.inline-video:hover::before {
  color: #ea4452; }

.inline-video:after {
  content: attr(data-button);
  font-family: 'Fira Sans';
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  position: absolute;
  top: 50%;
  margin-top: 45px;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center; }

.inline-video .inline-iframe-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.inline-video .inline-iframe-container .close-inline-video {
  content: "\f488";
  font-family: "Ionicons";
  color: #ffffff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  position: absolute;
  top: 7px;
  left: 50%;
  margin-left: -35px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.inline-video .inline-iframe-container .close-inline-video:hover {
  color: #ea4452; }

.inline-video.active .inline-iframe-container:hover .close-inline-video {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

.inline-video .inline-iframe-container .close-inline-video:before {
  content: "\f12a";
  font-family: "Ionicons";
  font-size: 40px;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0; }

/*	Gallery
	------------------------------------------------*/
.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  overflow: hidden; }

.gallery.spaced {
  width: -webkit-calc(100% + 80px);
  width: calc(100% + 80px);
  left: -40px;
  position: relative;
  text-align: center; }

.gallery li {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  overflow: hidden;
  margin: 0; }

.gallery-col2 li {
  width: 50%; }

.gallery-col3 li {
  width: 33.3%; }

.gallery-col4 li {
  width: 25%; }

.gallery-col5 li {
  width: 20%; }

.gallery-col6 li {
  width: 16.66%; }

.gallery.spaced li {
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px);
  margin: 0 40px 80px 40px; }

.gallery-col2.spaced li {
  width: -webkit-calc(50% - 80px);
  width: calc(50% - 80px); }

.gallery-col3.spaced li {
  width: -webkit-calc(33.3% - 80px);
  width: calc(33.3% - 80px); }

.gallery-col4.spaced li {
  width: -webkit-calc(25% - 80px);
  width: calc(25% - 80px); }

.gallery-col5.spaced li {
  width: -webkit-calc(20% - 80px);
  width: calc(20% - 80px); }

.gallery-col6.spaced li {
  width: -webkit-calc(16.66% - 80px);
  width: calc(16.66% - 80px); }

/*	Team Member
	------------------------------------------------*/
.column.team-member .team-info.offset {
  position: relative;
  top: -17px;
  left: 20px; }

.team-member .socialmedia-widget {
  margin-top: 4px; }

/*	Alerts
	------------------------------------------------*/
.alert {
  margin-top: 20px; }

div .alert:first-child {
  margin: 0; }

.alert h6 {
  padding-bottom: 2px;
  display: inline-block; }

.alert-info {
  color: #3fabf6; }

.alert-note {
  color: #fcad25; }

.alert-confirm {
  color: #8fc236; }

.alert-error {
  color: #fa4d5a; }

/*	img hover effect
	------------------------------------------------*/
a.img-hover {
  display: inline-block;
  max-width: 100%;
  width: auto;
  position: relative;
  overflow: hidden; }

a.img-hover:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1; }

a.img-hover.hover-dark:before {
  background: #000000; }

a.img-hover:hover::before {
  opacity: 0.7;
  filter: alpha(opacity=7);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }

a.img-hover.hover-dark:hover::before {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }

a.img-hover img {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease; }

a.img-hover:hover img {
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07); }

a.img-hover .hover-caption {
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px);
  position: absolute;
  bottom: 30px;
  left: 0px;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

a.img-hover:hover .hover-caption {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  left: 30px;
  -webkit-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s; }

/*	Skills
	------------------------------------------------*/
.skill {
  margin-top: 30px; }

div .skill:first-child {
  margin-top: 0px; }

.skill .skill-name {
  margin-bottom: 4px;
  display: block; }

.skill .skill-bar {
  height: 2px;
  width: 100%;
  position: relative;
  background: #f2f2f2; }

.skill .skill-bar .skill-active {
  background: #0d0d0d;
  height: 100%;
  width: 0; }

.text-light .skill .skill-bar .skill-active {
  background: #ffffff; }

.tooltip {
  position: absolute;
  width: 24px;
  height: 7px;
  line-height: 10px;
  line-height: 5px;
  padding: 8px 0 6px 0;
  font-size: 12px;
  text-align: center;
  color: #0d0d0d;
  font-weight: 400;
  top: -25px;
  right: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.text-light .tooltip {
  color: #ffffff; }

/*	has animation
	------------------------------------------------*/
.has-animation {
  -webkit-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.has-animation.animated {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

/*	Tabs
	------------------------------------------------*/
.tabs {
  margin-top: 20px; }

div .tabs:first-child {
  margin-top: 0px; }

.tabs ul.tab-nav {
  padding: 0;
  margin: 0;
  margin: 0 !important;
  list-style: none !important;
  position: relative;
  z-index: 1; }

.tabs ul.tab-nav li {
  background: none;
  padding: 0 !important;
  float: left;
  margin: 0 30px 0 0 !important; }

.tabs ul.tab-nav li a {
  display: block;
  margin-bottom: 10px; }

.tabs ul.tab-nav li a.active {
  color: #ea4452;
  border-bottom: 2px solid #f2f2f2; }

.tabs .tab-container {
  margin-top: 10px; }

.tabs .tab-container .tab-content {
  float: left;
  display: none; }

.tabs .tab-container .active {
  display: block; }

/*	Toggle/Accordion
	------------------------------------------------*/
.accordion {
  margin-top: 30px; }

div .accordion:first-child {
  margin-top: 0px; }

.toggle-item {
  margin-top: 30px; }

div .toggle-item:first-child {
  margin-top: 0px; }

.toggle-item .toggle-title {
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding-left: 30px; }

.toggle-item .toggle-title:after {
  content: "\f218";
  font-family: "Ionicons";
  font-size: 14px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 0;
  color: #0d0d0d; }

.toggle-item .toggle-title.toggle-active:after {
  content: "\f209";
  color: #ea4452; }

.toggle-item .toggle-title:hover:after {
  color: #ea4452; }

.toggle-item .toggle-title .toggle-name {
  display: inline-block;
  position: relative; }

.toggle-item .toggle-title:hover .toggle-name {
  color: #ea4452; }

.toggle-item .toggle-title.toggle-active .toggle-name {
  color: #ea4452;
  border-bottom: 2px solid #f2f2f2; }

.toggle-item .toggle-inner {
  padding-top: 18px;
  display: none; }

/*---------------------------------------------- 
	16. CUSTOM STYLE
	------------------------------------------------*/
/* 	
		!!!!!!!!!!!!!!!!!!
		Depending on your logo height you want to use, please adapt the values below 
		!!!!!!!!!!!!!!!!!! 
	*/
/* your logo height */
header #logo {
  height: 30px; }

.open-nav {
  height: 30px; }

.open-nav .text {
  line-height: 30px; }

nav#main-nav ul li > a {
  line-height: 30px; }

/* logo height + header-inner margin (30px + 2*60px) */
#page-body {
  padding-top: 150px; }

header:after {
  top: -150px;
  height: 150px; }

header.header-open:not(.header-transparent) + #hero, header.header-open:not(.header-transparent) + #page-body {
  margin-top: 150px; }

#header-filter, #header-share {
  top: -150px;
  min-height: 150px; }

@media only screen and (max-width: 1024px) {
  nav#main-nav {
    top: 150px !important; } }

/* YOUR CUSTOM CSS */
.wolf-container {
  width: 100%;
  padding-top: 150px; }

.wolf-container:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0; }

.wolf-container {
  *display: inline-block;
  height: 1%; }

.wolf-item {
  float: left;
  width: -webkit-calc(50% - 40px);
  width: calc(50% - 40px);
  margin-right: 80px;
  margin-bottom: 160px;
  position: relative;
  left: 0px; }

.wolf-item.wthird {
  width: -webkit-calc(33.2% - 53px);
  width: calc(33.2% - 53px); }

.wolf-item.wfull {
  width: 100%;
  margin-right: 0px; }

.wolf-item.wright {
  margin-right: 0px; }

.wolf-item-inner {
  display: inline-block;
  max-width: 85%;
  position: relative;
  float: left; }

.vcenter .wolf-item-inner {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%; }

.wolf-item.wright .wolf-item-inner {
  float: right; }

.wolf-item.wmiddle .wolf-item-inner {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%; }

.wolf-item.wmiddle.vcenter .wolf-item-inner {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%; }

.wolf-item.wolfmediafull .wolf-item-inner {
  max-width: 100%; }

.wolf-mouseparallax {
  position: relative;
  height: 100%; }

.wolf-item-inner > .wolf-media {
  position: relative;
  z-index: 0; }

.wolf-item .wolf-caption:not(.static) {
  position: absolute;
  top: 40px;
  right: 0px;
  max-width: 600px;
  text-align: left;
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  z-index: 1; }

.wolf-item.wfull .wolf-caption:not(.static) {
  max-width: 80%; }

.wolf-item.wright .wolf-caption:not(.static) {
  top: auto;
  bottom: 40px;
  left: 0px;
  right: auto;
  text-align: right;
  -webkit-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px); }

.wolf-item .wolf-caption.ctop:not(.static) {
  top: 40px;
  bottom: auto; }

.wolf-item .wolf-caption.cbottom:not(.static) {
  top: auto;
  bottom: 40px; }

.wolf-item .wolf-caption.cleft:not(.static) {
  left: -120px;
  right: inherit;
  text-align: right; }

.wolf-item .wolf-caption.cright:not(.static) {
  right: -120px;
  left: inherit;
  text-align: left; }

.wolf-item .wolf-caption.ccenter:not(.static) {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  right: 0px;
  width: 50%;
  min-width: 240px; }

/* if more text wolf-text */
.wolf-item.wolf-text .wolf-item-inner {
  position: static; }

.wolf-item.wolf-text .wolf-caption:not(.static) {
  max-width: 80%;
  right: 0;
  top: 40px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }

.wolf-item.wolf-text.wright .wolf-caption:not(.static) {
  right: auto;
  left: 0; }

.wolf-item.wolf-text .wolf-caption:not(.static) .wolf-caption-inner {
  position: relative;
  left: auto;
  right: auto; }

/* static caption */
.wolf-item .wolf-caption.static {
  position: static;
  top: auto;
  right: auto;
  right: auto;
  max-width: 100%; }

/* filter */
.wolf-item.filter-out {
  display: none; }

/* reponsive feature */
@media only screen and (max-width: 1024px) {
  .wolf-item:not(.wolf-text) .wolf-caption:not(.static) {
    -webkit-transform: translateX(85px);
    -ms-transform: translateX(85px);
    transform: translateX(85px); }
  .wolf-item.wright:not(.wolf-text) .wolf-caption:not(.static) {
    -webkit-transform: translateX(-85px);
    -ms-transform: translateX(-85px);
    transform: translateX(-85px); } }

@media only screen and (max-width: 881px) {
  .wolf-item:not(.wolf-text) .wolf-caption:not(.static) {
    -webkit-transform: translateX(70px);
    -ms-transform: translateX(70px);
    transform: translateX(70px); }
  .wolf-item.wright:not(.wolf-text) .wolf-caption:not(.static) {
    -webkit-transform: translateX(-70px);
    -ms-transform: translateX(-70px);
    transform: translateX(-70px); } }

.wolf-responsive .wolf-item {
  width: 100%;
  margin-right: 0px;
  margin-bottom: 80px; }

.wolf-responsive .wolf-item .wolf-item-inner {
  margin-top: 0px !important;
  width: 85% !important;
  max-width: 85% !important; }

.wolf-responsive .wolf-media {
  top: 0 !important; }

.wolf-responsive .wolf-media:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0; }

.wolf-responsive .wolf-caption:not(.static) {
  position: relative !important;
  top: auto !important;
  bottom: auto !important;
  left: auto !important;
  right: auto !important;
  margin-left: -15% !important;
  margin-top: -40px !important;
  display: inline-block;
  max-width: 100% !important;
  width: 100% !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important; }

.wolf-responsive .wleft .wolf-caption:not(.static) {
  float: right;
  margin-right: -15% !important; }

.wolf-responsive .wolf-item .wolf-caption .wolf-caption-inner {
  position: relative;
  left: auto;
  right: auto; }

.wolf-responsive .wolf-caption.ccenter {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }

.brief {
  overflow: hidden; }
  .brief li {
    list-style: none; }
  .brief .wrapper-small {
    float: right;
    padding-top: 135px; }
  .brief .aside {
    float: left;
    padding-top: 135px;
    width: 390px; }
  .brief_navigation {
    width: 390px;
    margin-top: 0;
    margin-left: 0; }
    .brief_navigation_li {
      position: relative;
      -webkit-transition: color .3s;
      transition: color .3s; }
      .brief_navigation_li .fa {
        cursor: pointer;
        color: #ea4452;
        position: absolute;
        right: 30px;
        top: 6px;
        -webkit-transition: color .3s;
        transition: color .3s; }
        .brief_navigation_li .fa:hover {
          color: #0d0d0d; }
        .brief_navigation_li .fa-folder-open-o {
          right: 27px; }
      .brief_navigation_li .fa-folder-open-o {
        display: none; }
    .brief_navigation_li, .brief_navigation_subli {
      list-style: none; }
    .brief_navigation_link {
      -webkit-transition: color .3s;
      transition: color .3s;
      display: block;
      padding-right: 45px;
      position: relative; }
    .brief_navigation_sublink {
      padding-left: 15px;
      padding-right: 15px; }
  .brief_subnavigation {
    display: none;
    margin-left: 0;
    margin-top: 0; }

@media (max-width: 1400px) {
  .wrapper {
    max-width: 1080px;
    width: auto; }
  .wolf-container {
    padding-left: 120px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .wolf-container .wolf-item {
      margin-right: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; } }

@media (max-width: 992px) {
  .wolf-container .wolf-item {
    width: -webkit-calc(100% - 80px);
    height: auto !important; }
    .wolf-container .wolf-item-inner {
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      -webkit-transform: none !important;
          -ms-transform: none !important;
              transform: none !important; } }

@media (max-width: 768px) {
  .header::after {
    height: 100%;
    top: -100%; }
  .header_logo {
    float: none;
    text-align: center;
    margin-bottom: 40px; }
  .header_navigation {
    width: 100%;
    height: 0; }
    .header_navigation_button {
      margin-left: 0;
      float: none;
      text-align: center;
      margin-top: -120px; }
    .header_navigation_list {
      width: 100%; }
      .header_navigation_list > li {
        margin: 10px 0;
        display: block; }
        .header_navigation_list > li > ul.submenu {
          position: static !important;
          margin: 0 !important;
          padding: 0 !important;
          visibility: visible !important;
          opacity: 1 !important;
          margin: auto !important; }
          .header_navigation_list > li > ul.submenu > li {
            text-align: center; }
  .wolf-container {
    padding-left: 10px;
    padding-right: 10px; }
    .wolf-container .wolf-item {
      left: 0 !important;
      width: 100%; }
      .wolf-container .wolf-item-inner {
        width: 95% !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        -webkit-transform: none !important;
            -ms-transform: none !important;
                transform: none !important; }
        .wolf-container .wolf-item-inner .wolf-caption {
          position: static !important;
          top: 0 !important;
          bottom: auto !important;
          -webkit-transform: none !important;
              -ms-transform: none !important;
                  transform: none !important; }
  h1 {
    font-size: 46px;
    line-height: 1.3; }
  .wrapper,
  .wrapper-mini,
  .wrapper-small {
    width: auto;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .single-pagination {
    display: none; }
  .gallery.spaced li {
    margin: 0;
    width: 100%; }
  .gallery-col2.spaced li {
    width: 50%;
    margin: 0;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .gallery.spaced {
    width: 100%;
    left: 0; }
  .portfolio .wolf-container {
    padding-top: 0; }
    .portfolio .wolf-container .wolf-item-inner > .wolf-media {
      top: 0 !important; }
  .portfolio .wolf-item.wolf-text .wolf-caption:not(.static) {
    width: 100% !important; } }

@media (max-width: 480px) {
  h1 {
    font-size: 30px; } }
