include templates/header.pug
section#hero.hero-big.parallax-section(data-parallax-image='images/hero-contact.jpg', style='position: relative;')
	.page-title
		h1.text-light
			strong Здравствуйте
	.parallax-content(style='position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;overflow:hidden;')
		.parallax-image(style='background: url("images/hero-contact.jpg") center center / cover; width: 100%; height: 920px; position: absolute; top: -160px; transform: matrix(1, 0, 0, 1, 0, 0);')
main.middle
	.content
		.wrapper-small
			h3.align-center
				strong Давайте пообщаемся ...
			h6.alttitle.align-center Мы всегда рады новым контактам
			form#contact-form.checkform(action='https://formspree.io/galimuimail@gmail.com',  method="POST")
				.form-row.clearfix
					label.req(for='name') Имя *
					|  
					input#name.name(type='text', name='name', value='', placeholder='Имя' required)
				.form-row.clearfix
					label.req(for='_replyto') Email *
					|  
					input#email.email(type='email', name='_replyto', value='', placeholder='Email' required)
				.form-row.clearfix
					label.req(for='phone') Телефон *
					|  
					input#email.email(type='tel', name='phone', value='', placeholder='Телефон' required)
				.form-row.clearfix.textbox
					label.req(for='message') Сообщение *
					textarea#message.message(name='message', rows='15', cols='50', placeholder='Сообщение' required)
				input(type="text", name="_gotcha", style="display:none")
				#form-note
					.alert.alert-error
						strong Ошибка
						| : Пожалуйста проверьте ваши данные!
				.form-row.form-submit
					input.submit(type='submit', name='Send', value='Отправить сообщение')
				|  
				input(type='hidden', name='subject', value='Contact Subject Pond html')
				|  
				input(type='hidden', name='fields', value='name,email,message,')
				|  
				input(type='hidden', name='sendto', value='YOUREMAIL')
include templates/footer.pug

