include templates/header.pug
section#hero.hero-auto.portfolio
  .page-title.wrapper
    #wolf-title.wolf-grid.clearfix.wolf-container.wolf-parallax
      .wolf-item.wfull.wright.wolf-text(data-speed='2', style='height: 500px;')
        .wolf-item-inner(style='margin-top: 0px;')
          .wolf-media(style='top: -108px;')
            img(src='images/2craft-shop/h1.jpg', alt='SEO NAME')
          .wolf-caption.ctop(style='width:60%;')
            .wolf-caption-inner
              h5.alttitle Разработка дизайна
              h1
                strong Craft-Shop
section#page-body.nopadding
  .wrapper-mini
    h6
      strong Идея
    p
      | Интернет-магазин женской, мужской и детской одежды "Craft Shop".
      br
      | Возможность легко и удобно приобрести вещи на любой вкус.
    h6
      strong Функционал
    p
      | Креативный слайдер с возможностью добавления акций и скидок. 
      br
      | Лёгкая в использовании корзина, идея сохранения избраных товаров в личном аккаунте, удобный поиск. 
      br
      | Кнопки для обмена информацией с друзьями и переходом на группы в социальных сетях.
  .spacer.spacer-big
  .wrapper
    ul.gallery.gallery-col2.spaced
      li.has-animation
        img(src='images/2craft-shop/slide1.jpg', alt='SEO NAME')
      li.has-animation(data-delay='200')
        img(src='images/2craft-shop/slide3.jpg', alt='SEO NAME')
    ul.gallery.spaced
      li.has-animation
        img(src='images/2craft-shop/bigslide.jpg', alt='SEO NAME')
    ul.gallery.gallery-col2.spaced
      li.has-animation
        img(src='images/2craft-shop/slide4.jpg', alt='SEO NAME')
      li.has-animation(data-delay='200')
        img(src='images/2craft-shop/slide5.jpg', alt='SEO NAME')
    ul.gallery.spaced
      li.has-animation
        img(src='images/2craft-shop/full.jpg', alt='SEO NAME')
  .wrapper
  ul.single-pagination
    li.prev(style='margin-top: 45.5px;')
      a(href='good-goal.html')
        img(src='images/2craft-shop/previous.jpg', alt='prev')
        span Предыдущий проект
    li.backtoworks
      a(href='index.html') Назад к роботам
    li.next
      a(href='yondo!.html')
        img(src='images/2craft-shop/next.jpg', alt='next')
        span Следующий проект
include templates/footer.pug