include templates/header.pug
section#hero.hero-auto.portfolio
  .page-title.wrapper
    #wolf-title.wolf-grid.clearfix.wolf-container.wolf-parallax
      .wolf-item.wfull.wright.wolf-text(data-speed='2', style='height: 500px;')
        .wolf-item-inner(style='margin-top: 0px;')
          .wolf-media(style='top: -108px;')
            img(src='images/1good-goal/h1.jpg', alt='SEO NAME')
          .wolf-caption.ctop(style='width:60%;')
            .wolf-caption-inner
              h5.alttitle Разработка и продвижение
              h1
                strong Good Goal
section#page-body.nopadding
  .wrapper-mini
    h6
      strong Идея
    p
      | Идея сайта заключеться в том, чтобы любители футбола, в любое удобное время, имели возможность посмотреть видео обзор матча, который им интересен. 
      br
      | Сайт расчитан на аудиторию СНГ. 
    h6
      strong Функционал
    p
      | Данный сайт разработан на CMS Drupal 7. 
      br
      | Видео можно добавлять с любых источников с помощью iframe, с сервиса youtube с помощью youtube api, что упрощает добавление. Еще имееться возможность добавлять HTML 5 видео. 
      br
      | Кроме того настроен кросcпостинг содержимого сайта в социальную сеть Вконтакте.
      br
      | Продумана возможность генерировать автоматически одну картинку для превью HTML5 видео из нескольких (фона, логотипов команд и логотипа лиги) для лучшей производительности сайта.
    h6
      strong Достижения
    p
      | Без дополнительных усилий по оптимизации за 2 месяца работы сайт по высокочастотным запросам находиться на верхних позициях в поиске.
    h6
      strong Веб-сайт
    p
      a(href='http://www.good-goal.com')
        strong good-goal.com
  .spacer.spacer-big
  .wrapper
    ul.gallery.gallery-col2.spaced
      li.has-animation
        img(src='images/1good-goal/slide1.jpg', alt='SEO NAME')
      li.has-animation(data-delay='200')
        img(src='images/1good-goal/slide2.jpg', alt='SEO NAME')
    ul.gallery.spaced
      li.has-animation
        img(src='images/1good-goal/bigslide.jpg', alt='SEO NAME')
    ul.gallery.gallery-col2.spaced
      li.has-animation
        img(src='images/1good-goal/slide4.jpg', alt='SEO NAME')
      li.has-animation(data-delay='200')
        img(src='images/1good-goal/slide5.jpg', alt='SEO NAME')
  .wrapper
  ul.single-pagination
    li.prev(style='margin-top: 45.5px;')
      a(href='pechi.html')
        img(src='images/1good-goal/previous.jpg', alt='prev')
        span Предыдущий проект
    li.backtoworks
      a(href='index.html') Назад к роботам
    li.next
      a(href='craft-shop.html')
        img(src='images/1good-goal/next.jpg', alt='next')
        span Следующий проект
include templates/footer.pug