include templates/header.pug
#hero.hero-big
	.owl-carousel.myslider(data-autoplay="true")
		.myslider_item(style="background-image:url(images/slider9.jpg);")
			.myslider_caption.is_active
				h1
					strong Веб-дизайн
				h5.altitile создание современных дизайнов
		.myslider_item.text-light(style="background-image:url(images/slider7.jpg);")
			.myslider_caption
				h1
					strong Разработка сайтов
				h5.altitile веб-разработка сайтов под ключ
		.myslider_item.text-light(style="background-image:url(images/slider3.jpg);")
			.myslider_caption
				h1
					strong Креативные идеи
				h5.altitile 
main.middle
	.content
		#portfolio-grid.wolf-grid.wolf-container.wolf-parallax(data-randomhorizontaloffset='true', data-mouseparallax='true')
			.wolf-item.portfolio-wolf-item.branding.wleft.vcenter(style="height: 511px; left: -44px;")
				.wolf-mouseparallax
					.wolf-item-inner
						.wolf-media.portfolio-media
							a.wolf-media-link(href='good-goal.html')
								img(src='images/1good-goal/top.jpg', alt='SEO NAME')
							.wolf-caption.portfolio-caption
								.wolf-caption-inner
									a.wolf-caption-link(href='good-goal.html')
										h6.alttitle.portfolio-category Разработка и продвижение
										h4.portfolio-name
											strong Good Goal
			.wolf-item.portfolio-wolf-item.photography.wright(style="height: 511px; left: 30px;")
				.wolf-mouseparallax
					.wolf-item-inner
						.wolf-media.portfolio-media
							a.wolf-media-link(href='craft-shop.html')
								img(src='images/2craft-shop/top.jpg', alt='SEO NAME')
							.wolf-caption.portfolio-caption
								.wolf-caption-inner
									a.wolf-caption-link(href='craft-shop.html')
										h6.alttitle.portfolio-category Разработка дизайна
										h4.portfolio-name
											strong Craft-Shop
			.wolf-item.portfolio-wolf-item.photography.wleft(style="height: 425px; left: 66px;")
				.wolf-mouseparallax
					.wolf-item-inner
						.wolf-media.portfolio-media
							a.wolf-media-link(href='yondo!.html')
								img(src='images/3yondo!/top.jpg', alt='SEO NAME')
							.wolf-caption.portfolio-caption
								.wolf-caption-inner
									a.wolf-caption-link(href='yondo!.html')
										h6.alttitle.portfolio-category Разработка дизайна
										h4.portfolio-name
											strong Yondo!
			.wolf-item.portfolio-wolf-item.print.wright.vcenter(style="height: 425px; left: 54px;")
				.wolf-mouseparallax
					.wolf-item-inner
						.wolf-media.portfolio-media
							a.wolf-media-link(href='pechi.html')
								img(src='images/4pechi/top.jpg', alt='SEO NAME')
							.wolf-caption.portfolio-caption
								.wolf-caption-inner
									a.wolf-caption-link(href='pechi.html')
										h6.alttitle.portfolio-category Разработка
										h4.portfolio-name
											strong Losa GmbH
			//- .wolf-item.portfolio-wolf-item.branding.wleft.vcenter(style="height: 595px; left: -44px;")
			//- 	.wolf-mouseparallax
			//- 		.wolf-item-inner
			//- 			.wolf-media.portfolio-media
			//- 				a.wolf-media-link(href='portfolio.html')
			//- 					img(src='images/thumbnail-brucke.jpg', alt='SEO NAME')
			//- 				.wolf-caption.cbottom.portfolio-caption
			//- 					.wolf-caption-inner
			//- 						a.wolf-caption-link(href='portfolio.html')
			//- 							h6.alttitle.portfolio-category Branding
			//- 							h4.portfolio-name
			//- 								strong
			//- 									| Br&uuml;cke
			//- 									br
			//- 									| Bier
			//- .wolf-item.portfolio-wolf-item.branding.wright(style="height: 595px; left: 37px;")
			//- 	.wolf-mouseparallax
			//- 		.wolf-item-inner
			//- 			.wolf-media.portfolio-media
			//- 				a.wolf-media-link(href='portfolio.html')
			//- 					img(src='images/thumbnail-chair.jpg', alt='SEO NAME')
			//- 				.wolf-caption.portfolio-caption
			//- 					.wolf-caption-inner
			//- 						a.wolf-caption-link(href='portfolio.html')
			//- 							h6.alttitle.portfolio-category Branding
			//- 							h4.portfolio-name
			//- 								strong
			//- 									| Modern
			//- 									br
			//- 									| Wood Chair
			//- .wolf-item.portfolio-wolf-item.print.wleft(style="height: 425px; left: -60px;")
			//- 	.wolf-mouseparallax
			//- 		.wolf-item-inner
			//- 			.wolf-media.portfolio-media
			//- 				a.wolf-media-link(href='portfolio.html')
			//- 					img(src='images/thumbnail-shoepackage.jpg', alt='SEO NAME')
			//- 				.wolf-caption.portfolio-caption
			//- 					.wolf-caption-inner
			//- 						a.wolf-caption-link(href='portfolio.html')
			//- 							h6.alttitle.portfolio-category Print
			//- 							h4.portfolio-name
			//- 								strong
			//- 									| Skins Shoe
			//- 									br
			//- 									| Package
			//- .wolf-item.portfolio-wolf-item.print.wright.vcenter(style="height: 425px; left: -60px;")
			//- 	.wolf-mouseparallax
			//- 		.wolf-item-inner
			//- 			.wolf-media.portfolio-media
			//- 				a.wolf-media-link(href='portfolio.html')
			//- 					img(src='images/thumbnail-sixteenfrans.jpg', alt='SEO NAME')
			//- 				.wolf-caption.portfolio-caption
			//- 					.wolf-caption-inner
			//- 						a.wolf-caption-link(href='portfolio.html')
			//- 							h6.alttitle.portfolio-category Print
			//- 							h4.portfolio-name
			//- 								strong
			//- 									| Sixteen &amp;
			//- 									br
			//- 									| Frans
include templates/footer.pug


