include templates/header.pug
section#hero.hero-auto.portfolio
  .page-title.wrapper
    #wolf-title.wolf-grid.clearfix.wolf-container.wolf-parallax
      .wolf-item.wfull.wright.wolf-text(data-speed='2', style='height: 500px;')
        .wolf-item-inner(style='margin-top: 0px;')
          .wolf-media(style='top: -108px;')
            img(src='images/4pechi/h1.jpg', alt='SEO NAME')
          .wolf-caption.ctop(style='width:60%;')
            .wolf-caption-inner
              h5.alttitle Разработка
              h1
                strong Losa GmbH
section#page-body.nopadding
  .wrapper-mini
    h6
      strong Идея
    p
      | Сайт-каталог партнеров компании Losa GmbH, специализирующихся на ремонте производственных печей и тепловых агрегатов.
    h6
      strong Функционал
    p
      | Возможность заказа продукции.
      br
      | Удобный доступ к справочной информации
    .spacer.spacer-big
  .wrapper
    ul.gallery.gallery-col2.spaced
      li.has-animation
        img(src='images/4pechi/slide1.jpg', alt='SEO NAME')
      li.has-animation(data-delay='200')
        img(src='images/4pechi/slide2.jpg', alt='SEO NAME')
    ul.gallery.spaced
      li.has-animation
        img(src='images/4pechi/bigslide.jpg', alt='SEO NAME')
    ul.gallery.gallery-col2.spaced
      li.has-animation
        img(src='images/4pechi/slide4.jpg', alt='SEO NAME')
      li.has-animation(data-delay='200')
        img(src='images/4pechi/slide5.jpg', alt='SEO NAME')
    ul.gallery.spaced
      li.has-animation
        img(src='images/4pechi/full.jpg', alt='SEO NAME')
  .wrapper
  ul.single-pagination
    li.prev(style='margin-top: 45.5px;')
      a(href='yondo!.html')
        img(src='images/4pechi/previous.jpg', alt='prev')
        span Предыдущий проект
    li.backtoworks
      a(href='index.html') Назад к роботам
    li.next
      a(href='good-goal.html')
        img(src='images/4pechi/next.jpg', alt='next')
        span Следующий проект
include templates/footer.pug