include templates/header.pug
section#hero.hero-big.parallax-section(data-parallax-image='images/hero-contact.jpg', style='position: relative;')
  .page-title
    h1.text-light
      strong Техническое задание
  .parallax-content(style='position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;overflow:hidden;')
    .parallax-image(style='background: url("images/hero-contact.jpg") center center / cover; width: 100%; height: 920px; position: absolute; top: -160px; transform: matrix(1, 0, 0, 1, 0, 0);')
main.middle.brief
  .content
    h3.align-center
      strong Техническое задание на разработку сайта "Good Goal"
    h6.alttitle.align-center Мы всегда рады создавать новые сайты
    .wrapper-small
        h4#client_information 1. Общие положения
      
    aside.aside
      ul.brief_navigation
          li.brief_navigation_li
            a.brief_navigation_link(href='#client_information')
              b 1. Информация о заказчике
            i.fa.fa-folder-o(aria-hidden="true")
            i.fa.fa-folder-open-o(aria-hidden="true")
            ul.brief_subnavigation
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#name')
                  em 1.1. Ваше имя и роль в компании: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#phone')
                  em 1.2. Номер телефона: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#email')
                  em 1.3. E-mail адрес *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#company-name')
                  em 1.4. Название компании: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#company-activity')
                  em 1.5. Сфера деятельности компании:
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#products-services')
                  em 1.6. Услуги / продукты компании: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#site-domen')
                  em 1.7. Адрес текущего сайта (если есть):
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#new-site-domen')
                  em 1.8. Доменное имя для нового сайта (возможные варианты):
          li.brief_navigation_li
            a.brief_navigation_link(href='#general_requirements')
              b 2. Общие требования к сайту
            i.fa.fa-folder-o(aria-hidden="true")
            i.fa.fa-folder-open-o(aria-hidden="true")
            ul.brief_subnavigation
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#site-type')
                  em 2.1. Тип сайта: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#slogan')
                  em 2.2. Слоган компании либо рекламные фразы для использования на веб-сайте:
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#impression')
                  em 2.3. Какое впечатление о компании должно создаваться у пользователей сайта?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#goal-auditory')
                  em 2.4. Целевая аудитория:
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#good-sites')
                  em 2.5. Пожалуйста, укажите два-три веб-сайта, которые Вам нравятся и почему: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#bad-sites')
                  em 2.6. Пожалуйста, укажите два-три веб-сайта, которые Вам НЕ нравятся и почему: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#your-bad-site')
                  em 2.7. Если у Вас уже есть веб-сайт, что Вам в нем нравится и НЕ нравится? *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#your-bad-site-tasks')
                  em 2.8. Выполняет ли существующий сайт возложенные на него задачи? 
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#budget')
                  em 2.9. Укажите "вилку" предполагаемого бюджета на разработку сайта в $: *
          li.brief_navigation_li
            a.brief_navigation_link(href='#appearance')
              b 3. Внешний вид веб-сайта
            i.fa.fa-folder-o(aria-hidden="true")
            i.fa.fa-folder-open-o(aria-hidden="true")
            ul.brief_subnavigation
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#firm-elements')
                  em 3.1 Существующие элементы фирменного стиля компании:
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#visual-materials')
                  em 3.2 Какие визуальные материалы Вы можете предоставить для использования на сайте?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#colors')
                  em 3.3 Есть ли у Вас особые предпочтения в отношении цветовой гаммы веб-сайта?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#forbiden-colors')
                  em 3.4 Какие цвета категорически нельзя, с Вашей точки зрения, использовать на Вашем сайте?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#site-look')
                  em 3.5 Как бы Вы охарактеризовали внешний вид будущего веб-сайта?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#forbid')
                  em 3.6 Недопустимые к использованию символы, образы, слова
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#site-type')
                  em 3.7 Планируется ли использовть анимации и ефекты на сайте?
          li.brief_navigation_li
            a.brief_navigation_link(href='#structure')
              b 4. Содержание и структура веб-сайта
            i.fa.fa-folder-o(aria-hidden="true")
            i.fa.fa-folder-open-o(aria-hidden="true")
            ul.brief_subnavigation
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#content')
                  em 4.1. Какие материалы Вы можете предоставить для наполнения веб-сайта и в каком формате?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#site-map')
                  em 4.2. Примерная карта сайта, возможные разделы: *
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#languages')
                  em 4.3. Планируется ли создание версий сайта на других языках помимо русского? На каких именно?
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#update-content')
                  em 4.4. Каким образом планируется обновлять материалы на сайте?
          li.brief_navigation_li
            a.brief_navigation_link(href='#c_q_w')
              b 5. Ваши комментарии, вопросы, пожелания
            i.fa.fa-folder-o(aria-hidden="true")
            i.fa.fa-folder-open-o(aria-hidden="true")
            ul.brief_subnavigation
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#comments')
                  em 5.1. Ваши комментарии
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#questions')
                  em 5.2. Ваши вопросы
              li.brief_navigation_subli
                a.brief_navigation_sublink(href='#wishes')
                  em 5.3. Ваши пожелания

.progressBar_container
  .progressBar
include templates/footer.pug