include templates/header.pug
section#hero.hero-auto.portfolio
  .page-title.wrapper
    #wolf-title.wolf-grid.clearfix.wolf-container.wolf-parallax
      .wolf-item.wfull.wright.wolf-text(data-speed='2', style='height: 500px;')
        .wolf-item-inner(style='margin-top: 0px;')
          .wolf-media(style='top: -108px;')
            img(src='images/3yondo!/h1.jpg', alt='SEO NAME')
          .wolf-caption.ctop(style='width:60%;')
            .wolf-caption-inner
              h5.alttitle Разработка дизайна
              h1
                strong Yondo!
section#page-body.nopadding
  .wrapper-mini
    h6
      strong Идея
    p
      | Мультиязычный интернет магазин одежды.
      br
      | Интуитивно понятный дизайн, чтобы человек, зайдя на сайт в первый раз, почувствовал себя комфортно, мог с легкостью найти необходимую ему вещь.  
      br
      |Всё предельно просто и доступно для понимания. 
    h6
      strong Функционал
    p
      | Непрямое общение с клиентом за счет правильного расположения блоков и использования нужных шрифтов.
      br
      | Удобное управление покупками с личного кабинета.
  .spacer.spacer-big
  .wrapper
    ul.gallery.gallery-col2.spaced
      li.has-animation
        img(src='images/3yondo!/slide1.jpg', alt='SEO NAME')
      li.has-animation(data-delay='200')
        img(src='images/3yondo!/slide2.jpg', alt='SEO NAME')
    ul.gallery.spaced
      li.has-animation
        img(src='images/3yondo!/bigslide.jpg', alt='SEO NAME')
    ul.gallery.gallery-col2.spaced
      li.has-animation
        img(src='images/3yondo!/slide3.jpg', alt='SEO NAME')
      li.has-animation(data-delay='200')
        img(src='images/3yondo!/slide4.jpg', alt='SEO NAME')
    ul.gallery.spaced
      li.has-animation
        img(src='images/3yondo!/full.jpg', alt='SEO NAME')
  .wrapper
  ul.single-pagination
    li.prev(style='margin-top: 45.5px;')
      a(href='craft-shop.html')
        img(src='images/3yondo!/previous.jpg', alt='prev')
        span Предидущий проект
    li.backtoworks
      a(href='index.html') Назад к роботам
    li.next
      a(href='pechi.html')
        img(src='images/3yondo!/next.jpg', alt='next')
        span Следующий проект
include templates/footer.pug